<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">THEPC</a>
  </nav>  
  
  <div class="container-fluid" style="margin-top:80px">
    <h1>You have successfully reset your password. You can now login.</h1>
    <form action='/' method='GET'>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    
  </div>
  
  
  